<li id="post-<%=post._id%>">
        <p><%= post.content %> <br>
        <small> <%= post.user.name %> 
         <% if(locals.user && post.user.id == locals.user.id){ %>
                  <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">Delete</a>
          <% } %>
         </small></p>

        
        <!-- Displaying comments list -->
        <%- include('_comment') -%>

        <!-- Displaying form to comments -->
        <div class="post-comments">
        <% if(locals.user){ %>
           <form action="/comments/create" id="new-comment" method="post">
                <textarea type="text" name="content" id="" cols="25" rows="5" placeholder="type comment ..." required></textarea>
                <input type="hidden" name="post" value="<%= post._id %>"><br>
                <input type="submit" value="Add Comment">
           </form>
        <% } %>
        </div>
</li>