
<h1>Codial/ <%= title %></h1>

<section id="feed-posts">
        <% if(locals.user){ %>
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" id="" cols="30" rows="10" placeholder="Type here...." required></textarea>
                <input type="submit" value="Post">
        </form>
        <% } %>
</section>
<h1>Posts</h1>

<ul>
<% for( post of posts){ %>
        <!-- Displaying posts -->
        <%- include('_post') -%>

       <!-- Displaying form to post comments -->
        <%- include('_comment') -%>
        
<% } %>
</ul>

<section>
        <h1>Profiles</h1>
      <%  for(u of all_users){ %>
                <li><a href="/user/profile/<%= u.id %>"><%= u.name %></a></li>
      <%  } %>
</section>
