<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/signup_signin.css">
    <link rel="stylesheet" href="/css/chatBox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <%- include('header') -%>
    </header>

    <!-- <% if(flash.success && flash.success.length > 0){ %>
        <h2><%= flash.success %></h2>
    <% } %> -->
    
    <main>
        <%- body -%>
    </main>

    <footer>
        <%- include('footer') -%>
    </footer>

    <%- script %>

    <script>
      <%  if(flash.success && flash.success.length > 0){ %>
            new Noty({
                theme:  'relax',
                text: '<%=flash.success%>',
                type : 'success',
                layout : 'topRight',
                timeout   : 1500
            }).show();
        <% } %>
        
        <%  if(flash.error && flash.error.length > 0){ %>
            new Noty({
                theme:  'bootstrap-v4',
                text: '<%=flash.error%>',
                type : 'error',
                layout : 'topRight',
                timeout   : 1500
            }).show();
        <% } %>
    </script>
</body>
</html>